/* assign colors to variable names */
:root{
  --navigationBarBlue:#0066FF; 
  --white:#FFFFFF;
  --textDarkGrey:#666666;
  --lightGreyhightlight:#66666650;
  --lightBackground:#0066FF05;
  --accentYellow: #FFCC00;
  --font-hover-color: white;
  }



  /* ---- Navigation ---- */
/* Add background color but fix at top */
.topnav {
  overflow: hidden;
  background-color: var(--navigationBarBlue);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 1;
  list-style-type: none;
  display: flex;
}
/* Style the links inside the navigation bar */
.topnav a {
  color: var(--white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  opacity: 1;
  font-size: 30px;

}

.topnav:first-child{
  margin-left: 0px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--textDarkGrey);
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 30px;
  border: none;
  outline: none;
  color: var(--white);
  padding: 14px 16px;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: var(--white);
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  display: block;
  text-align: left;
  color: var(--textDarkGrey);
  padding: 14px 16px;
  text-decoration: none;
  opacity: 1;
  font-size: 30px;
}

.dropbtn {
  background-color: var(--navigationBarBlue);
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: var(--lightGreyhightlight);
  color: black;
}

.dropdown-content a:hover {
  background-color:var(--lightGreyhightlight);
  color: black;
}
/* Show the dropdown menu when the user clicks the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}


/*  ----- Specific Page layout blocks -----  */

body {
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  background-color: var(--lightBackground:#0066FF05);
  color:var(--textDarkGrey);  
  /*margin: 2%;  
  padding: 2%;*/
  /*max-width: 100%;*/
}

header {
  /* if we want background color
  background-color:var(--lightBackground);
  border-radius:5px 5px 5px 5px; 
  margin-bottom: 1%;
  padding:1%;*/
  font-size: 175%;
  text-align:center;
  color:var(--textDarkGrey);
}
section {
  display:block;
  /* if we want a background color
  background-color:var(--lightBackground);
  border-radius:5px 5px 5px 5px; */
  padding: 1%;
}

article {
  display:block;
  /* if we want a background color
  background-color:var(--lightBackground);
  border-radius:5px 5px 5px 5px;
  */
  margin:0px 30px 30px 30px;
  padding-left:4%;
  padding-right: 4%;
  /*padding-top: 2%;*/
  /*padding-bottom: 1%;*/
  text-align:justify;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  color:var(--textDarkGrey);
}

footer {
  /*background-color:var(--lightBackground);*/
  padding:1%;
  margin-top: 4%;
  border-radius:5px 5px 5px 5px;
  text-align:left;
  font-size:0.8em; 

    head {
    margin-top: 0px;
    margin-left: 0px;
     }

  /* ----- Typography ------ */
  

h1, h2, h3, h4, h5, h6 {
color: var(--textDarkGrey); 
font-family:'Trebuchet MS', sans-serif;
} 

h1 {
  font-size: 250%; 
  margin: 0; 
  padding-top: 1%;
  padding-bottom: 1%; 
 
}
h2 {
  font-size: 200%; 
  margin: 0; 
  padding-top: 1%;
  /*padding-bottom: 1%;*/
  white-space: normal;
}
h3 {
  font-size: 150%; 
  margin: 0; 
  /*padding-top: 1%;*/
  white-space: normal;
  h1 {
    font-size: 60px;
      text-align: center;
      margin-left: 0;
  }
  
  h2{
    font-size: 45px;
  }

  
  button:hover {
    background-color: var(--white);
    color: var(--textDarkGrey);
  }
  
  input[type="text"]
  {
    font-family: 'Trebuchet MS', sans-serif;
  }

  /*  ----- Table ----- */

  table, th, td {
    padding: 2%;
    margin:2%;
    background-color: var(--dovegrey90);
    color: var(--navy);
    border:2px solid var(--textDarkGrey);
    border-radius:5px 5px 5px 5px; 
    border-collapse: collapse;
    display:inline-block;
    }
  
  table {
    margin-top: 2em;
    width: 100%;
  }
  





