/* assign colors to variable names */
:root{
  --navigationBarBlue:#0066FF;
  --siteHeadBlue: #0066ff70;
  --white:#FFFFFF;
  --textDarkGrey:#666666;
  --lightGreyhightlight:#66666650;
  --lightBackground:#F2F2F2;
  --accentYellow: #FFCC00;
  --font-hover-color: white;
  }



  /* ---- Navigation ---- */
/* Add background color but fix at top */
.topnav {
  overflow: auto;
  background-color: var(--navigationBarBlue);
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  opacity: 1;
  list-style-type: none;
  display: flex;
  /*align-items: stretch ;*/
  flex-wrap: wrap;
  flex-direction: row;
}
/* Style the links inside the navigation bar */
.topnav a {
  color: var(--white);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  opacity: 1;
  font-size: 30px;

}

.topnav a > * {
  flex: 1 1 0;
}

.topnav:first-child{
  margin-left: 0px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: var(--textDarkGrey);
}

/* Dropdown container - needed to position the dropdown content */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Style the dropdown button to fit inside the topnav */
.dropdown .dropbtn {
  font-size: 30px;
  border: none;
  outline: none;
  color: var(--white);
  padding: 14px 20px;
  margin: 0;
}

/* Style the dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  background-color: var(--white);
}

/* Style the links inside the dropdown */
.dropdown-content a {
  float: none;
  display: block;
  text-align: left;
  color: var(--textDarkGrey);
  padding: 14px 20px;
  text-decoration: none;
  opacity: 1;
  font-size: 30px;
}

.dropbtn {
  background-color: var(--navigationBarBlue);
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: var(--lightGreyhightlight);
  color: black;
}

.dropdown-content a:hover {
  background-color:var(--lightGreyhightlight);
  color: black;
}
/* Show the dropdown menu when the user clicks the dropdown button */
.dropdown:hover .dropdown-content {
  display: block;
}


/*  ----- Specific Page layout blocks -----  */

header {
  /* if we want background color
  
  border-radius:5px 5px 5px 5px; */
  padding: 14px 20px;
  margin: 0;
  background-color:var(--siteHeadBlue);
  font-size: 110%;
  text-align:left;
  color:var(--textDarkGrey);
}

.pageHead{
  background-color:var(--lightBackground);
  font-size: 110%;
  text-align:center;
  color:var(--textDarkGrey);
}
  
body {
  font-family: 'Arial', sans-serif;
  /*font-size: 1em;*/
  /*line-height: 1.2;*/
  background-color: var(--lightBackground);
  color:var(--textDarkGrey);  
  margin: 0px;
  /*max-width: 100%;*/
}


section {
  display:block;
  /* if we want a background color
  background-color:var(--lightBackground);
  border-radius:5px 5px 5px 5px; */
  padding-left: 1%;
  padding-right: 1%
}

article {
  display:block;
  /* if we want a background color
  background-color:var(--lightBackground);
  border-radius:5px 5px 5px 5px;
  */
  margin:0px 30px 30px 30px;
  padding-left:2%;
  padding-right: 2%;
  /*padding-top: 2%;*/
  padding-bottom: 1%;
  text-align:justify;
  font-family: 'Arial', sans-serif;
  font-size: 1em;
  line-height: 1.2;
  color:var(--textDarkGrey);
}

footer {
  /*background-color:var(--lightBackground);*/
  padding:1%;
  margin-top: 4%;
  border-radius:5px 5px 5px 5px;
  text-align:left;
  font-size:0.8em; 

    head {
    margin-top: 0px;
    margin-left: 0px;
     }

  /* ----- Typography ------ */
  

h1, h2, h3, h4, h5, h6 {
color: var(--textDarkGrey); 
font-family:'Trebuchet MS', sans-serif;
} 


h1 {
    font-size: 60px;
    text-align: center;
    margin-left: 0;
    padding-bottom: 0;
  }
  
  h2{
    font-size: 45px;
  }

  
  button:hover {
    background-color: var(--white);
    color: var(--textDarkGrey);
  }
  
  input[type="text"]
  {
    font-family: 'Trebuchet MS', sans-serif;
  }

  /*  ----- Table ----- */

  /* verbadim W3 schools*/
/*table {
  border-collapse: collapse;
  width: 100%;
  display: flex;
}

th, td {
  padding: 1%;
  text-align: left;
  border-bottom: 1px solid var(--textDarkGrey);
}

tr:hover {background-color: var(--accentYellow);
         }  
.browseTable {
  width: 100%;
  display: flex;
  th, td {
  padding: 1%;
  text-align: left;
  border-bottom: 1px solid var(--textDarkGrey);
  }
  tr:hover {background-color: var(--accentYellow);
         }
}*/


table.browseTable {
  border-collapse: collapse;
  width: 100%;
  display: flex;
  /* Additional specifications for th and td elements */
  th, td {
    padding: 15px; 
    text-align: left; 
    border-bottom: 2px solid var(--textDarkGrey); 
  }
  /* Specification for tr elements on hover */
  tr:hover {
    background-color: var(--lightGreyhightlight); 
    color: black; 
  }
}

  
/* OLD code
  table {
    background-color: var(--lightGreyhightlight);
    color: var(--textDarkGrey);
    border:2px solid var(--textDarkGrey);
    border-radius:5px 5px 5px 5px;
    border-collapse: collapse;
    flex-basis: auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-shrink: 2;
    width: 100%;
    table-layout: auto;
    }

  
  th, td {
    padding: 2%;
    margin:2%;
    border-bottom: 1px solid var(--textDarkGrey);
    flex:1;
    flex-shrink: 2;
 

  tr:hover {
    background-color: var(--accentYellow);
*/
  
  
/* Apply flex for large screens and revert to default for smaller screens 
@media (max-width: 768px) {
  table, th, td {
    display: table; Revert to the default display style for tables 
    width: 100%; Make tables full-width on smaller screens 
  }
}
*/
